<<<<<<< HEAD
html,body{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bg{
  height: 100%;
  background-image: url("../images/books.jpg");
  background-color: #8E4F28;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
=======
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.bg {
  background-image: url("../images/books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
}
.full-height {
  height: 100%;
}
>>>>>>> e11d0d38b198e4b9ec89d55b7eca80fca1c1db36
