{% extends 'layout.html' %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{ category }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="bg2">
<div>
    <div class="issue-details">
    <form class="isdet issue-info form-group" method="POST" action="">
        <h2>Issue Details</h2>
        {{ issueForm.hidden_tag() }}
        {{ issueForm.memberId(class="issue-memberid", placeholder="Member ID")}}
        
        <label for="issue-book-select">Number of books</label>
        <select id="issueBookNo" name="issue-book-select">
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
        </select>

        <div class="add-book-id">
            <input class=book-id1 placeholder="BookID"></input><br />
        </div>

        {{ issueForm.issueDetails(class="submit-issue") }}
    </form>
</div>
    <div class="return-details">
    <form class="return-info form-group" method="POST" action="">
        <h2>Return Details</h2>
        {{ returnForm.hidden_tag() }}
       
        {{ returnForm.memberId(class="return-memberid") }}
    
        <button class="get-book-details" type="button">Get Issued Books</button><br/>
        <div class="show-issue">
        <div class="issued-books">

        </div>
        </div>
        <button hidden type="button" class="calculate-fine">Calculate Fine</button>
        <div class="show-fine">

        </div>
        <button hidden class="return-btn submit-return ">Return</button>
    </form>
</div>
    <div class="home-bar">
    <a href="{{url_for('issuedbyme')}}">Issued by me</a><br />
    <a href="{{url_for('showbooks')}}">AvailableBooks</a><br />
    <a href="{{url_for('register')}}">RegisterMember</a><br />
    <a type="button" class="lg-btn"
            href="{{url_for('logout')}}">Logout</a>
</div>
</div>
<script src="../static/js/home.js"></script>
{% endblock %}