{% extends 'layout.html' %}
{% block head %}
<title>ISsued by me</title>
<style>
.issue-by-me{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid  rgba(46, 25, 11, 1);;
}
.issue-by-me th, td {
  padding: 20px;
}
.issue-by-me th {
  letter-spacing: 2px;
}
.issue-by-me td {
  letter-spacing: 1px;
}
.issue-by-metbody td {
  text-align: center;
}

.issue-by-me tfoot th {
  text-align: right;
}
.table-container{
  background-image: url(../static/images/books2.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 20.2%;
}
.main-tr {
  background: url(../static/images/books2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 1px #FFFAEE;
  text-align: center;
}
.issue-by-me th, tfoot th, tfoot td {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(46, 25, 11,0.5));
  border: 3px solid #FFFAEE;
}
.issue-by-me tbody tr:nth-child(odd) {
  background-color: #391E0D;;
  color: #FFFAEE;
  text-align: center;
}

.issue-by-me tr:nth-child(even) {
  
  
  background-color: #FFFAEE;;
  color: #391E0D;
  text-align: center;
}

caption {
  font-family: 'Rock Salt', cursive;
  padding: 20px;
  font-style: italic;
  caption-side: bottom;
  color: #666;
  text-align: right;
  letter-spacing: 1px;
}
.table-container h1{
  color: #FFFAEE;
}
.bg-issue-by-me{
  background-image: url(../images/books2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
</style>
{% endblock %}

{% block body %}
<div class="bg-issue-by-me">
  <div class="home-bar">
    <a href="{{url_for('home')}}">Home</a><br />
    <a href="{{url_for('showbooks')}}">AvailableBooks</a><br />
    <a href="{{url_for('register')}}">RegisterMember</a><br />
    <a type="button" class="lg-btn"
            href="{{url_for('logout')}}">Logout</a>
</div>
<div class="table-container">
  <h1>Books issued by Librarian ({{current_user.name}}): </h1><br />
<table class="issue-by-me">
    <thead><tr class="main-tr">
        <th>Issued to</th>
        <th>Issued Book</th>
        <th>Issued on</th>
    </tr>
  </thead>
{% for issue in issues %}
<tr>
    <td>{{issue.member.name}}</td>
    <td>{{issue.book.name}}</td>
    <td>{{issue.date}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}