{% extends 'layout.html' %}
{% block head %}
<title>ISsued by me</title>
<style>
      
</style>
{% endblock %}

{% block body %}
<div class="bg-issue-by-me">
  <div class="home-bar">
    <a href="{{url_for('home')}}">Home</a><br />
    <a href="{{url_for('showbooks')}}">AvailableBooks</a><br />
    <a href="{{url_for('register')}}">RegisterMember</a><br />
    <a type="button" class="lg-btn"
            href="{{url_for('logout')}}">Logout</a>
</div>
<div class="table-container">
  <h1>Books issued by Librarian ({{current_user.name}}): </h1><br />
<table class="issue-by-me">
    <thead><tr class="main-tr">
        <th>Issued to</th>
        <th>Issued Book</th>
        <th>Issued on</th>
    </tr>
  </thead>
{% for issue in issues %}
<tr>
    <td>{{issue.member.name}}</td>
    <td>{{issue.book.name}}</td>
    <td>{{issue.date}}</td>
</tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}