<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <script src="https://kit.fontawesome.com/379320ae60.js" crossorigin="anonymous"></script>
  <title>Search Books</title>
</head>
<body>
  <div class="bgsearch">
    <div class="searchbox">
      <input class="search-num" type="text" name="" placeholder="Enter BookID">
      <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
      </a>
    </div>
  </div>
</body>
</html>