{% extends 'layout.html' %}
{% block head %}
<title>Books</title>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: auto;
  }

  .table-container {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 10%;
    bottom: 10%;
    align-items: center;
    align-content: center;
    height: 500px;
    overflow-y: scroll; 
  }
  .table-container::-webkit-scrollbar { 
  display: none;
  }
th:nth-child(even){
  background-color: #FFFAEE;
  color: #391E0D;
}
th:nth-child(odd){
  background-color: #391E0D;
  color: #FFFAEE;
}
  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: auto;
  }
  td:nth-child(odd) {
  background-color: #391E0D;
  color: #FFFAEE;
  text-align: center;
}
td:nth-child(even) {
  
  
  background-color: #FFFAEE;
  color: #391E0D;
  text-align: center;
}

  .filter{
    border: 1px solid black;
    float: right;
    height: 100%;
    width: 300px;
    overflow: scroll;
    background-color: rgba(255, 250, 238, 0.5);
    text-align: center;
    justify-content: center;
  }
.bg-search-books{
  background-image: url(../static/images/books2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.filter-container{
  color: #391e0d;

}
.filter-container h2{
  background-color: #391E0D;  
  color: #FFFAEE;
}
.filter-btn{
  background-color: #391E0D;
  color:#FFFAEE;
  width: 150px;
  height:40px;
  
}
</style>
{% endblock %}

{% block body %}
<div class="bg-search-books">
  <div class="home-bar">
    <a href="{{url_for('home')}}">Home</a><br />
    <a href="{{url_for('issuedbyme')}}">Issue By Me</a><br />
    <a href="{{url_for('register')}}">RegisterMember</a><br />
    <a type="button" class="lg-btn"
            href="{{url_for('logout')}}">Logout</a>
</div>
  <div class="filter">
<div class="filter-container">

</div>
<button type="button" class="filter-btn">Filter</button>
</div>

<div class="table-container">
  <table class="books-table">

  </table>
</div>
</div>
<script src="../static/js/showbooks.js"></script>
{% endblock %}